DATABASE_URL=Sua_Url_Do_PostgreSQL_Supabase_Aqui
# Exemplo de URL do Supabase:
# DATABASE_URL=postgres://postgres.[seuid]:[suasenha]@aws-0-sa-east-1.pooler.supabase.com:6543/postgres

SESSION_SECRET=substitua_por_uma_chave_secreta_aleatoria
PORT=5000
